[submodule "addons/plugin.video.teamstream"]
	path = addons/plugin.video.teamstream
	url = https://github.com/siriuzwhite/plugin.video.teamstream.git
[submodule "addons/repository.addons.siriuz"]
	path = addons/repository.addons.siriuz
	url = https://github.com/siriuzwhite/repository.addons.siriuz.git
